#play_again_block {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 35vw;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 1em;
    padding-bottom: 1em;
}

#play_again_text {
    margin-top: 1em;
    font-size: 1.3em;
    width: 100%;
    text-align: center;
}

#play_again_block button {
    margin-top: 1em;
    padding: 1em;
    width: 20vw;
    margin-left: 7.5vw;
    font-size: 1.3em;
    border-radius: 1em;
    background: #ccedff;
    border: 2px #d4d3ee solid;
}

#play_again_block button:hover {
    cursor: pointer;
}