{% block content %}
    <div id="battleground_block" v-show="showBattleground">
        <div id="player_1_block" class="player_block">
            <img :src="p1_image" id="my_avatar" class="avatar">
            <div class="player_name" v-text="p1_name"></div>
            <div class="stat_row">
                <div style="color: #39b93f">Wins:</div>
                <div v-text="p1_wins"></div>
            </div>
            <div class="stat_row">
                <div>Draws:</div>
                <div v-text="p1_draws"></div>
            </div>
            <div class="stat_row">
                <div style="color: #b93939">Loses:</div>
                <div v-text="p1_loses"></div>
            </div>
            <div class="global_rating_text">Global rating</div>
            <div id="p1_rating">
            </div>
        </div>

        <div id="playground">
            {% include 'waiting.html' %}
            <div id="play_block">
                <div class="choose_text">Choose wisely!</div>
                <div style="display: flex; flex-direction: row;">
                    <img onclick="make_move(this)" id="rock" class="choose_button"
                         src="https://img.freepik.com/premium-vector/gray-boulder-cartoon-rock-icon-natural-element_543062-4393.jpg"/>
                    <img onclick="make_move(this)" id="scissors" class="choose_button"
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXwmJEOmw1yxqJrC6xts9ncbDsIK_mbx1q0Q&usqp=CAU">
                    <img onclick="make_move(this)" id="paper" class="choose_button"
                         src="https://thumbs.dreamstime.com/b/paper-sheet-bent-object-design-doodle-hand-drawn-cartoon-illustration-108507285.jpg"/>
                </div>
                <div class="progress-bar">
                    <div class="progress-bar-back">
                        <div class="progress-bar-front" id="progress-bar-front"></div>
                    </div>
                </div>
            </div>
            {% include 'win.html' %}
            {% include 'draw.html' %}
            {% include 'lose.html' %}
        </div>

        <div id="player_2_block" class="player_block">
            <img :src="p2_image" id="op_avatar" class="avatar">
            <div class="player_name" v-text="p2_name"></div>

            <div class="stat_row">
                <div style="color: #39b93f">Wins:</div>
                <div v-text="p2_wins"></div>
            </div>
            <div class="stat_row">
                <div>Draws:</div>
                <div v-text="p2_draws"></div>
            </div>
            <div class="stat_row">
                <div style="color: #b93939">Loses:</div>
                <div v-text="p2_loses"></div>
            </div>
            <div class="global_rating_text">Global rating</div>
            <div id="p2_rating">
            </div>
        </div>
    </div>
{% endblock %}