{% block content %}
    <div id="battleground_block" v-show="showBattleground">
        <div id="player_1_block" class="player_block">
            <img :src="players[0].image" id="my_avatar" class="avatar">
            <div class="player_name" v-text="players[0].name"></div>
            <div class="stat_row">
                <div style="color: #39b93f">Wins:</div>
                <div v-text="players[0].wins"></div>
            </div>
            <div class="stat_row">
                <div>Draws:</div>
                <div v-text="players[0].draws"></div>
            </div>
            <div class="stat_row">
                <div style="color: #b93939">Loses:</div>
                <div v-text="players[0].loses"></div>
            </div>
            <div class="global_rating_text">Global rating</div>

            <div id="p1_rating">
                <template v-for="(rate, index) in players[0].rating" :key="index">
                    <div :class="{ 'class_red_rating': rate[0] === players[0].name }"
                         v-text="index + 1 + '. ' + rate.join(' ')"></div>
                </template>
            </div>
        </div>

        <div id="playground">
            {% include 'waiting.html' %}
            {% include 'play.html' %}
            {% include 'win.html' %}
            {% include 'draw.html' %}
            {% include 'lose.html' %}
        </div>

        <div id="player_2_block" class="player_block">
            <img :src="players[1].image" id="op_avatar" class="avatar">
            <div class="player_name" v-text="players[1].name"></div>

            <div class="stat_row">
                <div style="color: #39b93f">Wins:</div>
                <div v-text="players[1].wins"></div>
            </div>

            <div class="stat_row">
                <div>Draws:</div>
                <div v-text="players[1].draws"></div>
            </div>

            <div class="stat_row">
                <div style="color: #b93939">Loses:</div>
                <div v-text="players[1].loses"></div>
            </div>

            <div class="global_rating_text">Global rating</div>
            <div id="p2_rating">
                <template v-for="(rate, index) in players[1].rating" :key="index">
                    <div :class="{ 'class_red_rating': rate[0] === players[1].name }"
                         v-text="index + 1 + '. ' + rate.join(' ')" v-show="players[1].name !== '...'"></div>
                </template>
            </div>
        </div>
    </div>
{% endblock %}