<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rock Paper Scissors</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bowser@2.11.0/es5.js"></script>
    <script src="https://web.shakura.video/static/analytics.js"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>
    <script src="https://unpkg.com/vue@3.2.36/dist/vue.global.js"></script>
    <script type="importmap">
    {
        "imports": {
                "three": "https://cdn.jsdelivr.net/npm/three/+esm",
                "controls": "https://cdn.jsdelivr.net/npm/three/examples/jsm/controls/OrbitControls.js",
                "gltf": "https://cdn.jsdelivr.net/npm/three/examples/jsm/loaders/GLTFLoader.js"
			}
	}




    </script>

    <script src="/static/socket.js"></script>
    <link rel="stylesheet" href="/static/background.css"/>

    <link rel="stylesheet" href="/static/nickname_input.css"/>
    <script src="/static/nickname_input.js"></script>

    <link rel="stylesheet" href="/static/battleground.css"/>
    <script src="/static/battleground.js"></script>

    <link rel="stylesheet" href="/static/waiting_block.css"/>
    <link rel="stylesheet" href="/static/win.css"/>

    <link rel="stylesheet" href="/static/play_again.css"/>

</head>

<body style="background:  #aab6fa url('/static/pics/background.jpg') no-repeat fixed center">
<div id="app">
    {% include 'nickname_input.html' %}
    {% include 'battleground.html' %}
    {% include 'play_again.html' %}
</div>

<script src="/static/waiting.js" type="module"></script>
<script src="/static/robot.js" type="module"></script>


<script>
    const default_user = {
        name: "...",
        wins: "-",
        draws: "-",
        loses: "-",
        image: "/static/avatars/question.png",
        rating: []
    };

    const app_context = Vue.createApp({
        data() {
            return {
                showNicknameInput: true,
                showBattleground: false,
                showWaiting: true,
                showPlay: false,
                showWin: false,
                showDraw: false,
                showLose: false,
                showPlayAgain: false,
                players: [
                    Object.assign({}, default_user),
                    Object.assign({}, default_user)
                ]
            }
        }
    });
    const app = app_context.mount('#app');

    app.players[0].image = "/static/avatars/" + avatars_list[0];


</script>

</body>

</html>