{% block content %}
    <div class="nickname_input_window" v-if="showNicknameInput">
        <div class="avatar_choose">
            {% include 'arrows/left.html' %}
            <img class="avatar" :src="players[0].image">
            {% include 'arrows/right.html' %}
        </div>
        <input class="input_area"
               type="text"
               placeholder="Input your name"
               maxlength="15"
               onkeydown="submit_nickname(this)"
               oninput="filter_nickname(this)">
    </div>
{% endblock %}